
/*GROUPE D'ELEMENTS*/

 /*////////////////////////BODY//////////////////////////*/

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
    color:white;
  }

 /*////////////////////////TITRE ET SOUS-TITRES//////////////////////////*/

h1{
    font-family:'Montserrat', sans-serif;
    color:#A5B4FC;
    font-size: 3.5em;
    font-style: normal;   
    /*text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);*/
}


h2{
    text-align: left;
    font-family: 'Manrope', sans-serif;
    color: white;

}

 /*////////////////////////ELEMENTS IMPORTANTS//////////////////////////*/

em{
    color:#A5B4FC;
    font-style: normal;
    font-weight: 500;
}

 /*////////////////////////PARAGRAPHES//////////////////////////*/

p{
    font-size: 1.1em;
}

 /*////////////////////////LISTES//////////////////////////*/

ul,ol{
    font-size: 1.1em;
    color: white;
    text-align: left;

}

 /*////////////////////////LIENS//////////////////////////*/

a:hover {
    opacity: 0.75;
    text-decoration: none;
}

a[class=bouton]:hover{
    text-decoration: none;
}


a{
    text-decoration: none;
}


a:focus{
 background-color: none;

}


a[class="cta"]:hover{
    color: linear-gradient(#696484,#8788BA);
}
/*/////////////////////////////////////////////////////////////////*/
*{
    margin:0;
}
 /*////////////////////////TABLEAUX//////////////////////////*/

 td, th{
    border: 2px #8e86b5 solid;
    font-size: 1.3em;
    padding: 50px;
 }

caption{
    padding: 75px;
    }

table{
    border-collapse:collapse;
    margin:auto;
}
/*/////////////////////////FORMULAIRES//////////////////////////////////////*/

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:30px;
    padding: 50px;
    border: none;
}


input{
    border-radius:5px;
    border: none;
}

textarea{
    display:flex;
    width:99.5%;
    padding-bottom: 100px;
    flex-direction: column;
    border-radius:5px;
    border: none;

}


.coordonees{
    display:flex;
    flex-direction: row;
    gap:20px;
    border: none;
    
}


.nom-user{
    display:flex;
    flex-direction: column;
    width:50%;
}

.nom-user input{
    padding: 15px;
}



.email-user{
    display:flex;
    flex-direction: column;
    width:50%;
}

section[class="carte-de-visite"] h2{
    color:#A5B4FC;
}

section[class="carte-de-visite"]{
    padding: 50px;
}


section[class="carte-de-visite"] input[class="bouton2"] {
    border: white;
    width:10%; 
    display: block;
    position: relative;
    left: 500px;

}



section[class="carte-de-visite"] input[class="bouton2"]:hover{
    box-shadow : 4px 4px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.7;
}

.email-user input{
    padding: 15px;
}
/*/////////////////////////////////////////////////////////////////*/
header{
    background-color: white;
    text-align: left;
    width:auto;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left : 50px;
    padding-right : 50px;
}

header a{
    color: #242424;
    text-decoration: none;
}


/*/////////////////////////////////////////////////////////////////*/
nav a:hover{
    
        text-decoration: none;
        opacity: 0.75;
    }

nav a:visited{
    
    text-decoration: none;
    color: #242424 ;
}

nav{
    font-size: 1.1em;
}
/*/////////////////////////////////////////////////////////////////*/
section:first-child{
    text-align: center;
    color: white;
    background: cover;
    background: #1F2039;
}  

section{
    padding:80px;
}

section h4{
    text-align: center;
    color: white;
}


section h2{
    text-align: center;
    margin-top: 50px;
    color :  #1F2039;
    
}

section[class="Portfolio"] p{
    font-style: italic;
}
/*/////////////////////////////////////////////////////////////////*/
footer{
    color: white;
    background: white;
    font-size: 1.1em; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left : 50px;
    padding-right : 50px;
}

footer h3{
    text-align: center;
}

/*/////////////////////////////////////////////////////////////////*/



/*CLASSES////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.bouton{
    background: linear-gradient(#8E86B5,#ACAEED);
    font-family: 'Manrope', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

a[class="bouton"]:hover{
    box-shadow : 6px 6px 0px rgba(0, 0, 0, 0.85);
}

/*/////////////////////////////////////////////////////////////////*/
.bouton2{
    background: linear-gradient(#8E86B5,#ACAEED);
    font-family: 'Manrope', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

a[class="bouton2"]:hover{
    box-shadow : 4px 4px 2px rgba(0, 0, 0, 0.9);
}
/*/////////////////////////////////////////////////////////////////*/

.intro-apropos{
    border-right : 1px #8e86b5 solid;
    border-bottom : 1px #8e86b5 solid;
    margin-left:250px;
    margin-right:250px;
    text-align: left;
    padding:50px

}

.intro-apropos h2{
    color: white;
}
/*/////////////////////////////////////////////////////////////////*/
.soldes{
    text-decoration: line-through;
}
/*/////////////////////////////////////////////////////////////////*/
.logos-reseaux  {
    padding-left: 1011px;
}
/*/////////////////////////////////////////////////////////////////*/
.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-paysages{
    display:grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
}

.grid-portraits{
    display:grid;
    grid-template : 300px 300px / 1fr 1fr 1fr;
    gap:15px;
}


.Portfolio{
    gap:20px;
    background: white;
    text-align: center;
 }



/*/////////////////////////////////////////////////////////////////*/
.conteneur-lien-nav{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 875px;
    color: #1F2039;
}

.liens-navigation{
    display: flex;
    gap:20px
}
/*/////////////////////////////////////////////////////////////////*/

.conteneur-intro-robbie{
    display: flex;
   flex-direction:row;
   padding: 100px;
   margin: auto;
   width : 75%;
   gap: 75px;
}

.titre-txt-intro{
    display: flex;
    flex-direction: column;
    gap:50px;
    text-align: justify;    

}

.intro-robbie{
    display: flex;
    flex-direction: column;
    gap:70px;

}


.intro-robbie a[class="bouton"]{
    display: flex;
    width: 35%;
    height: 15%;
    margin:10px;
    position: relative;
    left: 150px;
}

.conteneur-intro-robbie h1{
    display: flex;
    text-align: justify;
    
}
/*/////////////////////////////////////////////////////////////////*/


.carte-de-visite h2{
    text-align: center;
    color: white;

}

.carte{
    display : inline-block;
width: 500px;
height: 300px;;
}

.txt-carte-de-visite{
    display: flex;
    text-align: center;}


.lien-carte{
    position : relative
}


.cliquez-pour-telecharger{
    display : flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    color: white;
    font-size: 1em;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}

.lien-carte:hover .cliquez-pour-telecharger{
    display:flex;

}

.coordonees
/*/////////////////////////////////////////////////////////////////*/
.lien-voir-cette-image{
    position:relative
}

.voir-cette-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom : 0px;
    left: 0px;
    right: 0px;
    font-size: 1.1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display:none;
}

.lien-voir-cette-image:hover .voir-cette-image{
    display: flex
}





/*MEDIA QUERIES////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and  (max-width: 996px){
    header nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      header nav img {
        margin-bottom: 20px;
      }
    
      header,
      footer {
        padding: 20px 20px;
      }
    
      h1 {
        font-size: 2em;
      }
    
      section {
        padding: 50px 20px 50px 20px;
      }
    
      nav a {
        margin-left: 10px;
        margin-right: 10px;
      }

      
    
}
  





































































/*    <form method="get" action="">
                        <label for="langue">Veuillez selectionnez une langue :</label>
                        <select name="langue" id="langue">
                            <option value="Français" selected>Français 🇫🇷</option>
                            <option value="Anglais" selected>Anglais 🇬🇧​</option>
                            <option value="Allemand" selected>Allemand 🇩🇪​ </option>
                            <option value="Espagnol" selected>Espagnol 🇪🇸</option>
                            <option value="Japonais" selected>Japonais 🇯🇵​</option>
                        </select>
                    </form>

                    <br><br>

                    <form method="get" action="">
                    <label>Veuillez selectionnez une langue :</label><br>
                    <label for="français">Français</label><input type="checkbox" name="français" id="français">
                    <label for="anglais">Anglais</label><input type="checkbox" name="anglais" id="anglais">
                    <label for="espagnol">Espagnol</label><input type="checkbox" name="espagnol" id="espagnol">
                    <label for="allemand">Allemand</label><input type="checkbox" name="allemand" id="allemand">
                    </form>

                    <br><br>

                    <form method="get" action="">

                        <label for="langue">Veuillez choisir une langue :</label><br>


                        <label for="français">Français</label>
                            <input type="radio" name="langue" value="français" id="français" checked>

                        <label for="anglais">Anglais</label>
                            <input type="radio" name="langue" value="anglais" id="anglais" checked>

                        <label for="espagnol">Espagnol</label>
                            <input type="radio" name="langue" value="espagnol" id="espagnol" checked>

                        <label for="allemand">Allemand</label>
                            <input type="radio" name="langue" value="allemand" id="allemand" checked>

                    </form>*/